* {
box-sizing: border-box;
}
h1 {
    margin-bottom: 15px;
    text-align: center;
    color: #bb726a;
    font-size: 50px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
section{
    position: relative;
    padding: 15px;
     width: 90%;
}
p {
    position: relative;
    clear: right;
  }
  div {
    position: relative;
    background-color: rgb(155, 152, 152);
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .title1{
    width: 100px;
    float: right;
    padding: 5px;
  margin: -3px -3px 0px;
  border: 3.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #f18292;
  }
 .title2{
  float: right;
  color: white;
  width: 100px;
  padding: 5px;
  margin: -3px -3px 0px;
  border: 3.5px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: #fb1616;

}
.title3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
     margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #ced335;
  
  }
  
  .paragraphe {
    padding: 5px;
    border: none;
    background-color: rgb(157, 157, 157);
    font-family: Helvetica;
    color: black;
    margin: 3px ;
    height: 150px;
    overflow: auto;
  }
  
  .row {
    width: 90%;
  }
  @media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
  
    .colmn-md-12 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  }
  @media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
  }
